@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --color-Blue-500: hsl(220, 98%, 61%);
  --color-Check-Background: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* ### Neutral */

  /* ### Light Theme */

  --color-Gray-50: hsl(0, 0%, 98%);
  --color-Purple-300-light: hsl(234, 39%, 85%);
  --color-Gray-300: hsl(233, 11%, 84%);
  --color-Gray-600-light: hsl(236, 9%, 61%);
  --color-Navy-850: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  --color-Navy-950: hsl(235, 21%, 11%);
  --color-Navy-900: hsl(235, 24%, 19%);
  --color-Purple-300-dark: hsl(234, 39%, 85%);
  --color-Purple-100: hsl(236, 33%, 92%);
  --color-Purple-600: hsl(235, 16%, 43%);
  --color-Purple-700: hsl(233, 14%, 35%);
  --color-Purple-800: hsl(237, 14%, 26%);
  --color-Gray-600-dark: hsl(236, 9%, 61%);
}
